@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Jost', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Cormorant Upright', serif;
}

:root{
    --primary-color:#0e1b3d;
    --secondary-color:#2b4992;
    --btn-color:#3f5294;
    --text-color:#87a1c6;
    --highlight-color:#fbe432;
}


input::placeholder{
    font-size: 14px;
}






