@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Jost", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Upright", serif !important;
}

:root {
  --primary-color: #0e1b3d;
  --secondary-color: #2b4992;
  --btn-color: #3f5294;
  --text-color: #87a1c6;
  --highlight-color: #fbe432;
}

input::placeholder {
  font-size: 14px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color:white !important;
  font-size: 25px !important;
}


#app {
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.swiper {
  width: 100%;
  height: 350px;
  margin: 20px auto;
}
.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

@media only screen and (max-width: 700px) {
  .swiper-slide img {
    height: 150px !important;
  }

  .swiper{
    height: 170px !important;
  }
}


/* Width and height of the scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

/* Track (the area on which the thumb moves) */
::-webkit-scrollbar-track {
  background: var(--primary-color);
}

/* Handle (the draggable scrolling element) */
::-webkit-scrollbar-thumb {
  background: var(--btn-color);
  border-radius: 6px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
